.body{
	background-color : #CCCCCC;
}

.page{
	width : 780px;
	margin : auto;
	font-size : 16px;
	font-family : 'Source sans Pro', Calibri, Tahoma, sans-serif;
	padding : 40px;
	border : 5px solid #3388CC;
	border-radius : 10px;
	box-shadow : 2px 4px 3px black;
	background-color : #FFFFFF	;
}

.infophoto{
	height : 200px;
}

.info{
	float : left;
}

.photo{
	float : right;
}

strong{
	font-size : 26px;
}

h2{
	font-size : 28px;
	color : #3388BB;
	text-transform : uppercase;
	border-bottom : 3px solid #3388DD;
}

.special{
	font-weight : normal;
	font-style : italic;
	font-size : 16px;
}

.section{
	margin-bottom : 70px;
	margin-top : 40px;
	text-align : justify;
}

.section-gauche{
	float : left;
	font-weight : bold;
	font-size : 20px;
	margin-bottom : 37px;
}

.section-droite{
	margin-left : 200px;
	margin-top : 40px;
}

.titre{
	font-weight : bold;
	font-size : 20px;
}

.section:hover{
	color : #00AA00;
}

#forma-gauche p{
	margin-bottom : 37px;
}

#exp-gauche p{
	margin-top : 32px;
}

#forma-droite p{
	margin-bottom : 38px;
	margin-left: 80px;
}

#exp-droite p{
	margin-top : 30px;
}

#exp-droiteLangue p{
	margin-top : -10px;
}